/* Add here all your CSS customizations */


.like:hover{
	cursor: pointer;
	color: black;
}


.button_box2 {
margin:100px auto;
}



/*-------------------------------------*/
.packages.section-background.custom-squared-section.custom-small-section-padding.custom-overlay-style-1 {
    padding: 30px 30px !important;
    clear: both;
}

.social-icons {
    list-style: none !important;
    display: ruby-base-container !important;
}

.social-icons li {
    padding: 10px 10px !important;
}
/*searchbar*/
#searchBar {
	color: orange !important;
	padding: .55em 0 !important;
	width: 80%;
	
}
.search {
	align-self: auto !important;
	width: 100%;
}
#customBtn {
	background-color: orange !important;	
}
nav {
	width: 100%;
}
/*searchbarEnd*/
/* header */
.header-container , .header-container li , .nav-link {
	min-height:70px !important;
	height:70px;
}


/* header ends*/

/*-------------------------------------*/
.cf:before, .cf:after{
content:"";
display:table;
}
.cf:after{
clear:both;
}
.cf{
zoom:1;
}
/*-------------------------------------*/

.form-wrapper-2 {
width: 350px;
padding: 15px;
background: #555;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.form-wrapper-2 input {
width: 210px;
height: 40px;
padding: 10px 5px;
float: left;
font: bold 15px 'Raleway', sans-serif;
border: 0;
background: #eee;
-moz-border-radius: 3px 0 0 3px;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
}
.form-wrapper-2 input:focus {
outline: 0;
background: #fff;
-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.form-wrapper-2 button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 110px;
font: bold 15px/40px 'Raleway', sans-serif;
color: #fff;
text-transform: uppercase;
background: #D88F3C;
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper-2 button:hover{
background: #FA8807;
}
.form-wrapper-2 button:active,
.form-wrapper-2 button:focus{
background: #c42f2f;
}
.form-wrapper-2 button:before {
content: '';
position: absolute;
border-width: 8px 8px 8px 0;
border-style: solid solid solid none;
border-color: transparent #D88F3C transparent;
top: 12px;
left: -6px;
}
.form-wrapper-2 button:hover:before{
border-right-color: #FA8807;
}
.form-wrapper-2 button:focus:before{
border-right-color: #c42f2f;
}
.form-wrapper-2 button::-moz-focus-inner {
border: 0;
padding: 0;
}


.row-dashboard {
	position: absolute;
	top:30%;
	height: 100px;
	margin: auto;
	overflow: hidden;
}

.row-dashboard ul:first-of-type {
	display: inline;
	float:left;
	clear: both;
}
.row-dashboard img{
	height:200px;
	width: 200px;
	float:left;
	position: absolute;
	left: auto;
	clear: both;
}

.row-dashboard ul {
	display: inline;
	float:right;
	clear: both;
}

.columm{
	margin-bottom:20px;
	text-align:center;
}
#editting{
	color:white;
}
.center-cropped {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}
.padtop{
	padding-bottom:30px;
}



* {
    box-sizing: border-box;
}

.rowC > .columnC {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.columnC {
    float: left;
   
    display: none; /* Hide columns by default */
}


/* Clear floats after rows */ 
.rowC:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.contentC {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}


/* Style the buttons */
.btnC {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}
.btn:hover{
	color:white;
	background-color: black;
}
/* Add a grey background color on mouse-over */
.btnC:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */

.btnC:focus {
  background-color: #666;
   color: white;
}